.parrafo1 {
    background-color: black;
    color: antiquewhite;
}

.desarrollo {
    background-color: blue;
    color: gold
}

.rectangulo {
    background-color: black;
    height: 200px;
    width: 50%;
}